* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html, body {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;

	font-family: sans-serif;
}

a {
	text-decoration: none;
	color: gray;
}

.logo {
	float: left;
	padding: 0 20px;
	margin: 10px 0;
}

.utility-nav {
	font-size: 14px;
	padding: 12px 20px;
	float: right;
}

.utility-nav a {
	color: #0b6952;
	margin-left: 10px;
}

[modal]{
	position: fixed;
	z-index: 100;
}

.modal {
	padding: 20px;
	width: 600px;
	height: 400px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	border-radius: 8px;
	background: white;
	z-index: 10;
}

.skills-matrix .modal {
	width: 90%;
	height: 90%;
}

.modal hr {
	border-style: none;
	border: 1px solid #eee;
}

input, textarea {
	padding: 5px 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	background: #F0FFFF;
}

fieldset {
	border: none;
}

.modal .action-button-wrapper {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 10px;
	width: 100%;
}

.modal .action-button {
	border: 1px solid #ccc;
}

label {
	font-size: 13px;
	color: #666;
	margin-right: 10px;
}

.modal .close-button {
	position: absolute;
	right: 20px;
	top: 20px;
}

.modal .close-button:hover {
	cursor: pointer;
}

h2.vco-headline {
	color: #54585a !important;
}

.vco-timemarker.vco-timemarker-active .vco-timemarker-content-container .vco-timemarker-content .vco-timemarker-text h2.vco-headline {
	color: #7e296b !important;
}

.modal-backdrop {
	content: '';
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .5);
	z-index: -1;
	top: 0;
	left: 0;
}

.action-bar {
	border-top: 3px solid #0b6952;
	margin-top: 2px;
	padding: 5px;
}

.action-bar .action-button {
	background: none;
	color: #7e296b;
	font-size: 22px;
}

.action-bar .action-button:disabled {
	opacity: .5;
}

.new-achievement-modal label {
	display: inline-block;
	text-align: right;
	width: 100px;
	vertical-align: top;
} 

.new-achievement-modal label.inline {
	width: auto;
}

.new-achievement-modal label.left {
	text-align: left;
	margin-left: 10px;
}

.new-achievement-modal textarea, .new-achievement-modal input:not([type="checkbox"]) {
	width: 420px;
}

.new-achievement-modal ul {
	list-style-type: none;
	float: left;
}

button {
	background: white;
	border: none;
	border-radius: 4px;
	padding: 6px 15px;
	font-size: 13px;
	margin-left: 5px;
}

button:hover {
	cursor: pointer;
	background: #F0FFFF;
}

.action-button {
	float: right;
}

#cover {
	height: 100%;
	width: 100%;
	background: white;
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;

	-webkit-transition: opacity .3s linear;
	-moz-transition: opacity .3s linear;
	transition: opacity .3s linear;
}

table.skills-matrix {
	table-layout: fixed;
	border-collapse:collapse
}

table.skills-matrix th, table.skills-matrix, td {
	padding: 10px;
	text-align: center;
}

.modal-heading {
	color: #0b6952;
}

table.skills-matrix tr {
	border-bottom: 1px solid #ccc !important;
}

table.skills-matrix th.selected {
	border-bottom: 1px solid white !important;
	background: #b9ecff;
}

table.skills-matrix td.selected {
	border-bottom: 1px solid white !important;
	background: #b9ecff;
}

table.skills-matrix th:hover, table.skills-matrix td:hover  {
	cursor: pointer;
}

/*ANIMATIONS*/

.animate-show {
  line-height: 20px;
  opacity: 1;
  padding: 10px;
}

.animate-show.ng-hide-add.ng-hide-add-active,
.animate-show.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
}

.animate-show.ng-hide {
  opacity: 0;
  padding: 0 10px;
}

li.tag {
	display: inline-block;
	margin: 5px;
	padding: 5px 10px;
	background: blue;
	color: white;
	border-radius: 4px;
}

.vco-slidenav-previous .vco-slidenav-content-container .vco-slidenav-icon, .vco-slidenav-next .vco-slidenav-content-container .vco-slidenav-icon {
	color: #7e296b;
}

.share-list {
	width: 100%;
	list-style-type: none;
	padding: 0;
}

.share-item {
	padding: 0;
	width: 100%;
	font-size: 20px;
}

.share-item i {
	margin-right: 20px;
}

.share-button {
	padding: 10px;
	display: block;
	color: #7e296b;
	border-radius: 8px;
}

.share-button:hover {
	cursor: pointer;
	background: #b9ecff;
	color: white;
}

.user-info p:first-child {
	font-weight: bold;
}

.user-info p {
	margin: 8px;
}

.print .logo {
	float: right;
	height: 40px !important;
}

.print header {
	padding: 20px;
	height: auto !important;
	border-bottom: 1px solid #ccc;
}

.print .achievement-list {
	list-style-type: none;
	padding: 0;
}

.print-achievement {
	margin: 50px 20px 50px;
	max-height: 300px;
	overflow: hidden;
}

.print-achievement img {
	float: left;
	width: 25%;
	margin-bottom: 50px;
}

.print-achievement .achievement-info {
	float: right;
	width: 70%;
}

.clearfix {
	clear: both;
}

@media print {

	@page 
    {
        size: auto;   /* auto is the initial value */
        margin: 0mm;  /* this affects the margin in the printer settings */
    }

	.logo {
		float: right;
	}

	.tag {
		background: white;
	}

   .tag.Marketing {
   		color: #7e296b;
   		border: 2px solid #7e296b;
   }

   .tag.Communications {
   		color: #ac9e44;
   		border: 2px solid #7e296b;
   }

   .tag.Journalism {
   		color: #54585a;
   		border: 2px solid #54585a;
   }

   .tag.Public.Relations  {
   		color: #3489b4;
   		border: 2px solid #3489b4;
   }

   .tag.Social.Media  {
   		color: #c98a1d;
   		border: 2px solid #c98a1d;
   }

   .tag.Education  {
   		color: #bd1c1c;
   		border: 2px solid #bd1c1c;
   }
}

