html, body {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;

	font-family: sans-serif;
}

a {
	text-decoration: none;
	color: gray;
}

.logo {
	float: left;
	padding: 0 20px;
	margin: 10px 0;
}

.utility-nav {
	font-size: 14px;
	padding: 12px 20px;
	float: right;
}

.utility-nav a {
	margin-left: 10px;
}

header {
	border-bottom: 1px solid #ccc;
}

.action-bar {
	background: #ccc;
	padding: 5px;
}

button {
	background: white;
	border: none;
	border-radius: 4px;
	padding: 6px 15px;
	font-size: 13px;
	margin-left: 5px;
}

button:hover {
	cursor: pointer;
	background: #F0FFFF;
}

.action-button {
	float: right;
}

#cover {
	height: 100%;
	width: 100%;
	background: white;
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;

	-webkit-transition: opacity .3s linear;
	-moz-transition: opacity .3s linear;
	transition: opacity .3s linear;
}